*.class
*~
*.o
*.s
*.a
*.exe
data/areas/*
data/models/*
data/textures/*
data/resources/*
.scons*
*.os
*.so
*.pyc
*.def
*.lib
a.out
tmp/*
doc/*
*.gch
moc_*
javadoc/*
doc/*
*.jar
tmp/*
colladatest
build/*
*.swp
core
llvmscriptdemo
*.unlinked
*.bc
